<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% load static %}
    <div class="container bg-light ">
        <div class="row">
            <div class="col text-center p-3 ">
                <h4>Student Result Management</h4>
            </div>
            <div class="col">
              
            </div>
            <div class="col">
                <div class="p-2  btn-group" role="group" aria-label="Basic outlined example">
                    <a class="danger" href="{% url 'subject' %}"><button class="btn btn-outline-primary">subjects</button></a>
                    <a class="danger" href="{% url 'student' %}"><button class="btn btn-outline-primary">Student</button></a>
                    <a class="danger" href="{% url 'changepass' %}"><button class="btn btn-outline-primary">change password</button></a>
                    <a class="danger" href="{% url 'logoutp' %}"><button class="btn btn-outline-primary">logout</button></a>
                </div> 
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">className</th>
                <th scope="col">classNameNumeric</th>
                <th scope="col">section</th>
                <th scope="col">creationDate</th>
                <th scope="col">updationDate</th>
                <th scope="col">edit</th>
                <th scope="col">delete</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for cla in class %}
                    <tr>
                        <th scope="row">{{ cla.id }}</th>
                        <td>{{ cla.className }}</td>
                        <td>{{ cla.classNameNumeric }}</td>
                        <td>{{ cla.section }}</td>
                        <td>{{ cla.creationDate }}</td>
                        <td>{{ cla.updationDate }}</td>
                        <td><a class="danger" href="{% url 'editclass' cla.id %}"><button class="btn btn-success">Edit</button></a></td>
                        <td><a class="danger" href="{% url 'deleteclass' cla.id %}"><button class="btn btn-success">Delete</button></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="success" href="{% url 'addclass' %}"><button class="btn btn-success">ADD</button></a>
    </div>
</body>
</html>